{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content 
%} 


<h1>YSB Clever's Beatstore</h1> 
 
<h2 class="down">Who am I?</h2>


<div class="down" style="font-size:larger">This website is brought to you by Hubert, also known as YSB Clever. I'm an IB student who attends Fagerhaug Internation School and I'm also a music producer. In this website, you'll see my beats and my other works and in the future, much more. Until then, enjoy my beats that are available.
    <style>
        div {color: white}
    </style>
</div>


<style>
    .myProfile {
        background-color: transparent;
        text-align: center;
        
    }
</style>

<div class="myProfile">
    <a href='https://www.youtube.com/channel/UC32E-ysS8XN1XOCF0scrOOQ' target='_blank'><img src='https://i.postimg.cc/rpGXfQBv/clever-profile-pic.png' border='0' width="500" height="500" alt='clever-profile-pic'/></a>
</div>

<style>
    body {background-image: linear-gradient(90deg, red, rgb(39, 92, 161), purple);}
  </style>

{% endblock %}
