{% extends "base.html" %} {% block title %}Background{% endblock %} {% block content %}

<style>
    h1 {color: white;}
</style>

<h1>Background Info</h1>

<style>
    .myDiv {
        background-color: transparent;
        text-align: center;
        color: white
    }
</style>

<style>
    body {background-image: linear-gradient(90deg, red, rgb(39, 92, 161), purple);}
  </style>

<body>
    <div class="myDiv">
        <h2>Why did I make this website?</h2>
        <p class="down" style="font-size: large;">I made this website because of the Personal Project. In the IB curriculum, students in MYP 10 are given a certain amount of time to explore ideas and to create a final product. As seen, this is my final product, and my entire learing process and goals are documented somewhere else where parents, teachers, and students can see them.</p>
    </div>
</body>



<a href="https://www.ibo.org/programmes/middle-years-programme/assessment-and-exams/personal-project/#:~:text=The%20personal%20project%20formally%20assesses,and%20creative%20thinking%2C%20and%20collaboration.&text=report%E2%80%94an%20account%20of%20the,that%20follows%20the%20assessment%20criteria.">Click here for more info about IB and the Personal Project</a>

{% endblock %}

